nodered.json
[
    {
        "id": "1f9d12ee6228e5fd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec7da7534f01b720",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "url": "notes/read",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "4fc27a1e265f206a"
            ]
        ]
    },
    {
        "id": "4fc27a1e265f206a",
        "type": "cloudantplus in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "1fe2a2c75e9a9176",
        "database": "projeto-idosos-notas",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "375b493c12e04ac6"
            ]
        ]
    },
    {
        "id": "375b493c12e04ac6",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "38b64f6005d8d669",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "url": "notes/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "1629830f38426758"
            ]
        ]
    },
    {
        "id": "1629830f38426758",
        "type": "cloudantplus out",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "1fe2a2c75e9a9176",
        "database": "projeto-idosos-notas",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "11a49e07341ec236"
            ]
        ]
    },
    {
        "id": "11a49e07341ec236",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "71bc3a5c840a8953",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "url": "reminders/read",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "12c32b3beb969146"
            ]
        ]
    },
    {
        "id": "86ea81a16bc7b220",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "12c32b3beb969146",
        "type": "cloudantplus in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "e562557c33b32390",
        "database": "projeto-idosos-lembretes",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "86ea81a16bc7b220"
            ]
        ]
    },
    {
        "id": "6471b928ae5692ee",
        "type": "cloudantplus out",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "e562557c33b32390",
        "database": "projeto-idosos-lembretes",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "bf68287f1c1ff36d"
            ]
        ]
    },
    {
        "id": "d82cb34cc06c2cd8",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "url": "reminders/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "6471b928ae5692ee"
            ]
        ]
    },
    {
        "id": "bf68287f1c1ff36d",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "0cb6861ee8c8587e",
        "type": "cloudantplus in",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "e562557c33b32390",
        "database": "projeto-idosos-batimentos",
        "service": "_ext_",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 420,
        "y": 520,
        "wires": [
            [
                "d32fbb11fe797a89"
            ]
        ]
    },
    {
        "id": "8569d0c05a37a8aa",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "getHeartBeat",
        "url": "/getHeartBeat",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "0cb6861ee8c8587e"
            ]
        ]
    },
    {
        "id": "d32fbb11fe797a89",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "b01d90f3ec50c1f6",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "postHeartBeat",
        "url": "/postHeartBeat1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "53041d7d0d7a75c1"
            ]
        ]
    },
    {
        "id": "4142b819aa2f979e",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "ad76719cc68e59ca",
        "type": "cloudantplus out",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "e562557c33b32390",
        "database": "projeto-idosos-batimentos",
        "service": "_ext_",
        "payonly": true,
        "operation": "insert",
        "x": 600,
        "y": 640,
        "wires": [
            [
                "4142b819aa2f979e"
            ]
        ]
    },
    {
        "id": "53041d7d0d7a75c1",
        "type": "function",
        "z": "1f9d12ee6228e5fd",
        "name": "function 2",
        "func": "msg.payload = {\n    \"heartBeat\" : msg.payload.heartBeat,\n    \"date\" : new Date().toISOString(),\n    \"label\" : \"Heart Beat\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "ad76719cc68e59ca"
            ]
        ]
    },
    {
        "id": "23c34c59b9e62b3b",
        "type": "http in",
        "z": "1f9d12ee6228e5fd",
        "name": "deleteHeartBeat",
        "url": "/deleteHeartBeat",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "d8c3fe6562cf6e44"
            ]
        ]
    },
    {
        "id": "76f1a5c2c27d6b55",
        "type": "http response",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "e345c696662475c3",
        "type": "cloudantplus out",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "cloudant": "e562557c33b32390",
        "database": "projeto-idosos-batimentos",
        "service": "_ext_",
        "payonly": true,
        "operation": "delete",
        "x": 600,
        "y": 720,
        "wires": [
            [
                "76f1a5c2c27d6b55"
            ]
        ]
    },
    {
        "id": "d8c3fe6562cf6e44",
        "type": "split",
        "z": "1f9d12ee6228e5fd",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "e345c696662475c3"
            ]
        ]
    },
    {
        "id": "1fe2a2c75e9a9176",
        "type": "cloudantplus",
        "host": "https://f1c0dcf9-5075-4061-a1f8-2f4ca596058a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "pucnoite-credencial",
        "useapikey": true
    },
    {
        "id": "e562557c33b32390",
        "type": "cloudantplus",
        "host": "https://f1c0dcf9-5075-4061-a1f8-2f4ca596058a-bluemix.cloudantnosqldb.appdomain.cloud",
        "name": "credencial-2-arthur",
        "useapikey": true
    }
]
